/* Estilos para pantallas grandes */
.NavBar-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 1; /* Opacidad inicial */
  transition: opacity 0.3s ease; /* Transición suave de la opacidad */
  z-index: 999;
  filter: invert(100%);
}

.logo {
  width: 120px;
}

.secciones ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  gap: 20px;
}

.secciones .seccion {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s ease;
}

.secciones .seccion:hover {
  color: #b9b9b9;
}

.carrito {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  margin: 2px;
  transition: color 0.3s ease;
}

.carrito:hover {
  color: #ff7f50;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .NavBar-container {
    flex-direction: column;
    padding: 20px;
  }

  .logo {
    width: 120px;
    margin-bottom: 20px;
  }

  .secciones ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .secciones .seccion {
    margin-bottom: 10px;
  }

  .carrito {
    margin-top: 20px;
  }

  .menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  .secciones {
    display: none;
  }

  .show {
    display: block;
  }

  .mobile-menu-open .secciones {
    display: block;
  }
}
